input[type="text"],
input[type="number"] {
  padding: 6px;
  margin: 10px 0;
  width: 200px;
}
#enviarForm {
    padding: 8px 16px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
  }